/* Home screen */

body{
  background-color: rgb(250, 249, 246);
}
.navbar{
  background-color: rgb(249, 249, 250) !important;
  margin-bottom: 20px; 
}

body {
  background-color: #fce0d2;
  font-family: 'Roboto', sans-serif;
}

.welcome-header {
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
}

.welcome-intro {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.start-btn {
  display: block;
  margin: 70px auto 0;
  background-color: #4375ff; /* accent color */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.container a { /* Targets all <a> tags within elements with class "container" */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Ensures the link text color matches the surrounding text or specified color */
}

.subtopic1 img, .subtopic2 img {
  max-width: 100%; 
  height: auto; 
}

.learning-info {
  margin-bottom: 15px;
}


.chord-progression-roman{
  display:flex;
}

.roman-numeral{
  text-align: center;
  width: 70px;
  margin-left:5px;
  border: 1px solid black;
  background-color: white;
}

.roman-pic{
  max-width: 550px;
  max-height: 50px;
  margin: auto;
}


.highlight-num{
  background-color:rgba(189, 216, 255, 90%);
}

.key-audio{
  display: flex;
}

.key-text{
  padding-right: 10px;
}

.prog-container-1{
  margin-top: 30px;
  margin-bottom: 20px;
}

.prog-container-2{
  margin-top: 30px;
  margin-bottom: 20px;
}

.prog-container-3{
  margin-top: 30px;
  margin-bottom: 20px;
}

.prog-container-4{
  margin-top: 30px;
  margin-bottom: 20px;
}

.first-header{
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: bold;
}

#result0, #result1, #result2, #result3{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subtopic1, .subtopic2 h3{
  margin-top: 15px;
}

button{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  background-color: #4375ff !important;
  border: 0 !important;
  color: white;
}

.large-font-blue {
    font-size: 50px; /* Large font size */
    color: #4375ff;
}

.quiz_results {
    color: rgba(100, 100, 100);
    /*text-decoration: underline; */
    font-size: 35px; /* Large font size */
}

.col-md-1 {
    flex: 0 0 auto; /* Change from fixed percentage to auto */
    width: auto; /* Allow column to grow */
}

.format-pic{
    display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%; /* Adjust width as needed */
}
