{% extends "layout.html" %}

{% block content %}

<h2 class="learn-title">{{ info.title }}</h2>

<div class="row">
  <div class="col-12">
    <div class="points">
      {{ info.point }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 subtopic1">
    <h3>{{ info.subtopic1 }}</h3>
    <p>{{ info.explanation1 }}</p>
    {% if info.audio1 is string %}
    <audio controls>
      <source src="{{ info.audio1 }}" type="audio/mp3">
    </audio>
    {% elif info.audio1 is mapping %}
    <audio controls>
      <source src="{{ info.audio1.file }}" type="audio/mp3">
    </audio>
    {% elif info.audio1 is iterable %}
    {% for audio in info.audio1 %}
    <div class="audio-label">{{ audio.label }}</div>
    <audio controls>
      <source src="{{ audio.file }}" type="audio/mp3">
    </audio>
    {% endfor %}
    {% endif %}
    <img src="{{ info.img1 }}" alt="Image for {{ info.subtopic1 }}">
  </div>
  <div class="col-md-6 subtopic2">
    <h3>{{ info.subtopic2 }}</h3>
    <p>{{ info.explanation2 }}</p>
    {% if info.audio2 is string %}
    <audio controls>
      <source src="{{ info.audio2 }}" type="audio/mp3">
    </audio>
    {% elif info.audio2 is mapping %}
    <audio controls>
      <source src="{{ info.audio2.file }}" type="audio/mp3">
    </audio>
    {% elif info.audio2 is iterable %}
    {% for audio in info.audio2 %}
    <div class="audio-label">{{ audio.label }}</div>
    <audio controls>
      <source src="{{ audio.file }}" type="audio/mp3">
    </audio>
    {% endfor %}
    {% endif %}
    <img src="{{ info.img2 }}" alt="Image for {{ info.subtopic2 }}">
  </div>
</div>


<div class="page-moves text-right">
  <a class="btn btn-outline-primary previous" href="{{ info.previous }}">Previous</a>
  <a class="btn btn-outline-primary next" href="{{ info.next }}">Next</a>
</div>

<script>
  let info = {{ info | tojson | safe }};
  console.log(info);
</script>

<script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>

{% endblock %}